[Unit]
Description=Telegram Bot service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/track_group
Restart=always
RestartSec=3
RuntimeMaxSec=1h
StandardOutput=journal
StandardError=journal
WorkingDirectory=/root

[Install]
WantedBy=multi-user.target
